<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Curriculum Vitae</title>
</head>
<body>
  <header id="header">
    <h2>Curriculum Vitae</h2>
  </header>
  <div class="container-fluid">
    <!--1 fila -->
    <div class="row">
      <!-- Columna del menu-->
      <div class="col-3">   
        <div>
          <a href="index.html">Informacion personal </a>
        </div>
        <div>
          <a href="info-academica.html">Informacion academica </a>          
        </div>
        <div>
          <a href="Intereses.html">Intereses</a>
        </div>
      </div>   
      <!-- columna de la informacion -->
      <div class="col-9">
        Informacion de las paginas
      </div>       
    </div>
  </div>
  <footer id="informacionfinal">
    <div>
     <h1>Página web hecha por Alejandro Antonio Castillo Jacamo</h1>      
    </div>
  </footer>
</body>
</html>
